.myMargin {
  width: 350px;
  margin: auto;
}
a#signout {
  text-decoration: none;
  color:  whitesmoke;
}
li.nav-item {
  color: white;
}
.navbar-brand small {
    display:block;
    font-size:12px;
  }
  
  .navbar-toggle {top:10px}
  
  @media (min-width:768px) {
  
    .navbar-brand {
      padding-top:20px;
    }
  
    .nav.navbar-nav a {
      padding-top:30px;
      padding-bottom:30px;
    }
  }

  form {
    width: 350px;
    margin: auto;
    padding: 50px;
    border-radius: .25em;
    border-style: dotted;
    border-color: grey;
  }
  
  input#password,#username {
      padding: 10px;
  }
  .form-control {
    padding: 10px;
  }